header, section,footer{
    border: 2px solid rgb(255, 0, 0);
    margin: 15px;
    padding: 15px;
}
h2{
    color :rgb(63, 165, 42);
    background-image :url(../img1.html);

}
footer{
    text-align: right;  
}